@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --back: #dad7cd;
    --light: #a3b18a;
    --primary: #588157;
    --dark: #3a5a40;
    --veryDark: #344e41;
}

body {
   font-family: "Roboto", sans-serif;
   background-color: var(--primary);
}

a {
    cursor: pointer;
}


.navbar {
    background-color: var(--back);
    overflow: hidden;
}

.navbar a.active, .navbar a.active:hover {
    background-color: var(--light);
}

/* Links within navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

/* images in navbar */
.navbar img {
    height: 1em;
    padding-right: 5px;
}

/* Hovering over a link in Navbar */
.navbar a:hover, .dropbtn {
    background-color: var(--light);
}


/* begin actual body not just navbar :) */

.titleBox {
    padding: 10px;
    background-color: var(--primary);
}
.titleText {
    padding: 10px;
    line-height: 50%;
    font-size: 25pt;
    background-color: inherit;
}

.icons img{
    padding: 10px 3px;
}

.icons img:hover {
    scale: 125%;
}


#blink {
    animation: blink 0.65s infinite;
    padding: 0.1em;
}
@keyframes blink {
    to { opacity: .0; }
}

.descriptionBox p {
    font-size: 20pt;
    display: inline;
}

#projectsBar {
    background-color: var(--veryDark);
    max-width: 50%;
}

.rightBar {
    list-style-type: none;
    float: right;
    display: inline;
    background-color: var(--veryDark);
    margin-bottom: 0;
}

.rightBar li {
    display: inline;
    float: right;
    padding: 5px 5px;
    margin-bottom: 0;
}

.rightBar li a {
    padding: 5px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#projectContent {
    display: inline-block;
    min-width: 50%;
    min-height: 250px;
    background-color: white;
    white-space: pre-wrap;
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid #fff;
    padding: 10px;
    padding-top: 0;
}

#projectContent p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.dark {
    background-color: var(--dark);
}

.active {
    background-color: blue;
}

.inline {
    display: inline;
}